/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.intltool-merge-cache
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Locations.xml.in.h
/Makefile
/Makefile.in
/TAGS
/_libs
/locations.pot
/so_locations
/tags
