/*.bak
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/ABOUT-NLS
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/INSTALL
/Makefile
/Makefile.in
/TAGS
/aclocal.m4
/ar-lib
/autom4te.cache
/autoscan.log
/build-aux
/compile
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.lt
/config.rpath
/config.status
/config.status.lineno
/config.sub
/configure
/configure.lineno
/configure.scan
/data/Makefile.in
/data/glade/Makefile.in
/depcomp
/doc/Makefile.in
/gtk-doc.make
/icons/Makefile.in
/install-sh
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/libgweather-*.tar.bz2
/libgweather-*.tar.gz
/libgweather-*.tar.xz
/libgweather/Makefile.in
/libtool
/ltmain.sh
/m4
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/missing
/mkinstalldirs
/po-locations/*.gmo
/po-locations/*.header
/po-locations/*.mo
/po-locations/*.sed
/po-locations/*.sin
/po-locations/.intltool-merge-cache
/po-locations/Makefile
/po-locations/Makefile.in
/po-locations/Makefile.in.in
/po-locations/Makevars.template
/po-locations/POTFILES
/po-locations/Rules-quot
/po-locations/libgweather-locations.pot
/po-locations/stamp-it
/po/*.gmo
/po/*.header
/po/*.mo
/po/*.sed
/po/*.sin
/po/.intltool-merge-cache
/po/Makefile
/po/Makefile.in
/po/Makefile.in.in
/po/Makefile.in.in~
/po/Makevars.template
/po/POTFILES
/po/Rules-quot
/po/libgweather-3.0.pot
/po/stamp-it
/schemas/Makefile.in
/so_locations
/stamp-h1
/tags
