/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/html
/html-build.stamp
/html.stamp
/libgweather-decl-list.txt
/libgweather-decl.txt
/libgweather-undeclared.txt
/libgweather-undocumented.txt
/libgweather-unused.txt
/libgweather.args
/libgweather.hierarchy
/libgweather.interfaces
/libgweather.prerequisites
/libgweather.signals
/pdf-build.stamp
/pdf.stamp
/scan-build.stamp
/setup-build.stamp
/sgml-build.stamp
/sgml.stamp
/so_locations
/tags
/tmpl-build.stamp
/tmpl.stamp
/tmpl/*.bak
/tmpl/libgweather-unused.sgml
/xml
