/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Locations.ang.xml
/Locations.ar.xml
/Locations.as.xml
/Locations.ast.xml
/Locations.az.xml
/Locations.be.xml
/Locations.be@latin.xml
/Locations.bg.xml
/Locations.bn.xml
/Locations.bn_IN.xml
/Locations.br.xml
/Locations.bs.xml
/Locations.ca.xml
/Locations.ca@valencia.xml
/Locations.crh.xml
/Locations.cs.xml
/Locations.cy.xml
/Locations.da.xml
/Locations.de.xml
/Locations.dz.xml
/Locations.el.xml
/Locations.en@shaw.xml
/Locations.en_CA.xml
/Locations.en_GB.xml
/Locations.eo.xml
/Locations.es.xml
/Locations.et.xml
/Locations.eu.xml
/Locations.fa.xml
/Locations.fi.xml
/Locations.fr.xml
/Locations.ga.xml
/Locations.gl.xml
/Locations.gu.xml
/Locations.he.xml
/Locations.hi.xml
/Locations.hr.xml
/Locations.hu.xml
/Locations.id.xml
/Locations.it.xml
/Locations.ja.xml
/Locations.ka.xml
/Locations.kn.xml
/Locations.ko.xml
/Locations.ku.xml
/Locations.ky.xml
/Locations.lt.xml
/Locations.lv.xml
/Locations.mai.xml
/Locations.mg.xml
/Locations.mk.xml
/Locations.ml.xml
/Locations.mn.xml
/Locations.mr.xml
/Locations.ms.xml
/Locations.nb.xml
/Locations.nds.xml
/Locations.ne.xml
/Locations.nl.xml
/Locations.nn.xml
/Locations.oc.xml
/Locations.or.xml
/Locations.pa.xml
/Locations.pl.xml
/Locations.pt.xml
/Locations.pt_BR.xml
/Locations.ro.xml
/Locations.ru.xml
/Locations.rw.xml
/Locations.si.xml
/Locations.sk.xml
/Locations.sl.xml
/Locations.sq.xml
/Locations.sr.xml
/Locations.sr@latin.xml
/Locations.sv.xml
/Locations.ta.xml
/Locations.te.xml
/Locations.th.xml
/Locations.tr.xml
/Locations.ug.xml
/Locations.uk.xml
/Locations.vi.xml
/Locations.xml
/Locations.zh_CN.xml
/Locations.zh_HK.xml
/Locations.zh_TW.xml
/Makefile
/Makefile.in
/TAGS
/_libs
/so_locations
/stamp-Locations.xml
/tags
