/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/gweather-enum-types.c
/gweather-enum-types.h
/gweather-uninstalled.pc
/gweather.pc
/gweather.schemas
/libgweather.la
/so_locations
/tags
/test_locations
/test_metar
/test_sun_moon
