*.lo
.libs
/*.bak
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/GWeather-3.0.gir
/GWeather-3.0.typelib
/ID
/Makefile
/Makefile.in
/TAGS
/gweather-3.0-uninstalled.pc
/gweather-3.0.pc
/gweather-3.0.vapi
/gweather-enum-types.c
/gweather-enum-types.h
/libgweather-3.la
/libgweather-internal-3.la
/so_locations
/tags
/test_locations
/test_metar
/test_sun_moon
_libs
