/*.bak
/*.o
/*.orig
/*.rej
/*.tab.c
/*.valid
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/org.gnome.GWeather.enums.xml
/org.gnome.GWeather.gschema.valid
/so_locations
/tags
